/**
 * Custom Properties
 * aka CSS variables.
 *
 * @link: https://developer.mozilla.org/en-US/docs/Web/CSS/--*
 **/

:root {
	--content-width: 60rem;
	--dropdown-symbol-width: 0.7em;

	/* Typography */
	--global-font-family: "BioRhyme", serif;
	--highlight-font-family: "Pacifico", sans-serif;
	--global-font-size: 18;
	--global-font-line-height: 1.4;

	/* Custom editor font sizes */
	--font-size-small: calc(16 / var(--global-font-size) * 1rem);
	--font-size-regular: calc(var(--global-font-size) / 16 * 1rem);
	--font-size-large: calc(36 / var(--global-font-size) * 1rem);
	--font-size-larger: calc(48 / var(--global-font-size) * 1rem);

	/* Colors */
	--global-font-color: #333;
	--border-color-dark: #333;
	--border-color-light: #ccc;
	--color-link: #0073aa;
	--color-link-visited: #333;
	--color-link-active: #00a0d2;
	--color-quote-border: #000;
	--color-quote-citation: #6c7781;

	/* Custom editor colors */
	--color-theme-primary: #48285c;
	--color-theme-secondary: #004f5f;
	--color-theme-cream: #fffbea;
	--color-theme-gray: #4d4d4d;
	--color-theme-green: #3d752e;
	--color-theme-blue: #004f5f;
	--color-theme-purple: #48285c;
	--color-theme-black: #1c2833;

}
